[submodule "MCP/github-server"]
	path = MCP/github-server
	url = https://github.com/modelcontextprotocol/servers.git
	branch = main

[submodule "MCP/security-scanner-mcp"]
	path = MCP/security-scanner-mcp
	url = https://github.com/Cizimy/security-scanner-mcp.git
	branch = main

[submodule "MCP/test-runner-mcp"]
	path = MCP/test-runner-mcp
	url = https://github.com/Cizimy/test-runner-mcp.git
	branch = main

[submodule "MCP/docs-manager-mcp"]
	path = MCP/docs-manager-mcp
	url = https://github.com/Cizimy/docs-manager-mcp.git
	branch = main
[submodule "MCP/wecombot-server"]
	path = MCP/wecombot-server
	url = https://github.com/gotoolkits/mcp-wecombot-server.git
	branch = main
[submodule "MCP/metoro-mcp-server"]
	path = MCP/metoro-mcp-server
	url = https://github.com/metoro-io/metoro-mcp-server.git
	branch = main
