[submodule "MCP/github-server"]
	path = MCP/github-server
	url = https://github.com/modelcontextprotocol/servers.git
	branch = main
[submodule "MCP/google-maps-server"]
	path = MCP/google-maps-server
	url = https://github.com/modelcontextprotocol/servers.git
	branch = main
[submodule "MCP/memory-server"]
	path = MCP/memory-server
	url = https://github.com/modelcontextprotocol/servers.git
	branch = main
[submodule "MCP/brave-search-server"]
	path = MCP/brave-search-server
	url = https://github.com/modelcontextprotocol/servers.git
	branch = main
[submodule "MCP/time-server"]
	path = MCP/time-server
	url = https://github.com/modelcontextprotocol/servers.git
	branch = main
[submodule "MCP/sqlite-server"]
	path = MCP/sqlite-server
	url = https://github.com/modelcontextprotocol/servers.git
	branch = main
[submodule "MCP/puppeteer-server"]
	path = MCP/puppeteer-server
	url = https://github.com/modelcontextprotocol/servers.git
	branch = main
[submodule "MCP/postgres-server"]
	path = MCP/postgres-server
	url = https://github.com/modelcontextprotocol/servers.git
	branch = main
[submodule "MCP/gdrive-server"]
	path = MCP/gdrive-server
	url = https://github.com/modelcontextprotocol/servers.git
	branch = main
[submodule "MCP/git-server"]
	path = MCP/git-server
	url = https://github.com/modelcontextprotocol/servers.git
	branch = main
[submodule "MCP/filesystem-server"]
	path = MCP/filesystem-server
	url = https://github.com/modelcontextprotocol/servers.git
	branch = main
[submodule "MCP/everything-server"]
	path = MCP/everything-server
	url = https://github.com/modelcontextprotocol/servers.git
	branch = main
[submodule "MCP/everart-server"]
	path = MCP/everart-server
	url = https://github.com/modelcontextprotocol/servers.git
	branch = main
[submodule "MCP/fetch-server"]
	path = MCP/fetch-server
	url = https://github.com/modelcontextprotocol/servers.git
	branch = main
[submodule "MCP/sequentialthinking-server"]
	path = MCP/sequentialthinking-server
	url = https://github.com/modelcontextprotocol/servers.git
	branch = main
[submodule "MCP/gitlab-server"]
	path = MCP/gitlab-server
	url = https://github.com/modelcontextprotocol/servers.git
	branch = main
[submodule "MCP/slack-server"]
	path = MCP/slack-server
	url = https://github.com/modelcontextprotocol/servers.git
	branch = main
[submodule "MCP/sentry-server"]
	path = MCP/sentry-server
	url = https://github.com/modelcontextprotocol/servers.git
	branch = main
